.bannerContainer{
    font-family: 'Noto sans';
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 4rem 20%;
    gap: 10rem;
    background-color: rgb(254, 135, 16);
}
.bannerContainer h1{
    font-weight: 500;
}
.bannerContainer h3{
    font-weight: 300;
    background-color: rgb(253, 246, 237);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.6);
}
.textbanner{
    max-width: 50%;
}

@media(max-width: 768px){
    .bannerContainer{
        background: none;
        flex-direction: column;
        margin: 0;
        padding: 4rem 0 0 0;
        gap: 0;
    }
    .textbanner{
        max-width: 80%;
    }
    .textbanner b{
        color: orange;
    }
    .bannerContainer h3{
        background: none;
    }
}