.ecommerceContainer{
    font-family: 'noto sans';
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    gap: 10rem;
}
.ecommerceContainer h2{
    font-size: 3rem;
    margin-bottom: 0;
}
.ecommerceContainer h3{
    font-size: 2rem;
    color: gray;
    margin-top: 0;
}
.ecommerceContainer p{
    font-size: 1.2rem;
    color: rgb(77, 77, 77);
}
.ecommerceText{
    max-width: 30%;
}
.ecommerceText b{
    color: rgb(144, 0, 255);
}
@media (max-width: 768px){
    .ecommerceContainer{
        flex-direction: column;
        gap: 0rem;
    }
    .ecommerceContainer h1{
        line-height: 45px;
    }
    .ecommerceText{
        order: 1;
        max-width: 80%;
    }
    .ecommerceText h2{
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .ecommerceText h3{
        font-size: 1.5rem;
    }
    .ecommerceText p{
        font-size: 1.2rem;
    }
    
    .ecommerceGif{
        order: 2;
        max-width: 100%;
        display: flex;
        justify-content: center;
    }
}