.navBar {
    font-family: 'Noto sans';
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 10vw;
}

.logo h2,
.logo h4 {
    margin: 0;
}

.logo h4 {
    color: gray;
    font-weight: 400;
    font-size: 1rem;

}

.logo h2 {
    color: rgb(43, 43, 43);
}

.logo img {
    max-width: 4rem;
}

.links {
    margin-right: 10vw;
    display: flex;
    align-items: center;
}

.links ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.links li {
    cursor: pointer;
}

.navBarMobile {
    display: none;
}

@media (max-width: 768px) {
    .navBar {
        display: none;
    }

    .navBarMobile {
        display: flex;
        flex-direction: column;
      
    }

    .links ul {
        flex-direction: column;
        font-family: 'Noto sans';
        font-size: 1.2rem;
    }

    .links {
        justify-content: left;
        margin-top: 5vh;
    }

    .logo {
        margin-left: 0;
        justify-content: center;
        margin-top: 3vh;
    }
}