.containerInicio{
    font-family: 'Montserrat';
    background-color: rgb(111,119,244);
    color: white;
    min-height: 100vh;
    
}
.containerInicio label{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 3rem;
}
.containerInicio label img{
    color: white;
    background-color: white;
    border-radius: 1rem;
    max-width: 20rem;
}
.textInicio h1{
    font-size: 2.8rem;
    margin-bottom: 0rem;
    font-weight: 500;
}
.logoContainer h1{
    font-size: 2.5rem;
}
.textInicio h2{
    font-size: 5rem;
    font-weight: 900;
    margin-top: 0;
}
.textInicio{
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logoContainer{
    margin-left: 10vw;
    padding-top: 5vh;
}

@media(max-width: 768px){
    .textInicio h1{
        font-size: 2rem;
    }
    .textInicio h2{
        font-size: 2.8rem;
    }
}
a {
    text-decoration: none;
  }
  .main__scroll-text {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 700;
  }
  
  .main__action:hover .main__scroll-box {
    animation: scroll-down 3s infinite;
  }
  
  /* Animate scroll icon */
  @keyframes scroll-down {
    0%, 100% {
      transform: translateY(0rem);
      opacity: 1;
    }
  
    35% {
      transform: translateY(1rem);
      opacity: 0;
    }
  
    70% {
      transform: translateY(-1rem);
      opacity: 0;
    }
  }
  
