.productoContainer {
    font-family: 'noto sans';
    max-width: 80%;
    margin: 0 auto;
    margin-top: 10vh;
}

.headerProducto h2 {
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 0;
}

.headerProducto p {
    font-size: 1.2rem;
    color: gray;
}

.cardsProductoContainer {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 80%;
    gap: 5rem;
    margin-left: 10%;
}

.cardProducto {
    max-width: 80%;
}

.cardProducto img {
    border: 2px solid black;
    border-radius: 1rem;
}

.cardProducto p {
    color: gray;
    margin-top: 10px;
}

.cardProducto h3 {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .cardsProductoContainer {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .cardProducto {
        max-width: 100%;
    }

}