.tiendaContainer {
    font-family: 'noto sans';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}

.tiendaContainer h2 {
    margin: 5rem 0 2rem 0;
    font-size: 2.5rem;
}

#center{
    font-size: 2rem;
    margin:2rem;
    margin: 5rem 0;
    margin-bottom: 2rem;
}


.tiendaContainer b {
    color: rgb(255, 0, 200);
}



.tiendaList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 60vw;
    gap: 3rem;
}

.tiendaCard h2 {
    background-color: rgb(77, 77, 77);
    color: white;
    padding: 1.3rem;
    margin-bottom: 0;
    margin-top: 0;
}

.tiendaCard h3 {
    background-color: gray;
    margin-top: 0;
    padding: 0.7rem;
    color: rgb(234, 233, 233);
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0;
}

.tiendaCard p {
    margin-top: 0;
    padding: 1rem;
    margin-bottom: 0;
    font-style: italic;

}

.listItem img {
    max-width: 1.5rem;
}

.listItem {
    background-color: rgb(212, 210, 210);
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.tiendaCard {
    border-radius: 1rem;
}

#price{
    background-color: rgb(255, 177, 33);
    margin: 0;
    border-top-right-radius: 1rem;

}
#price p{
    font-style: normal;
    font-weight: 800;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
}


@media(max-width: 768px) {

    #center{
        margin-bottom: 2rem;
    }
    .tiendaList {
        display: flex;
        flex-direction: column;
        max-width: 90%;
    }

    .tiendaContainer h1 {
        margin-left: 0rem;
        font-size: 2rem;
    }
    .tiendaCard h2{
        font-size: 1.2rem;
    }
    .tiendaCard h3{
        font-size: 1rem;
    }
}